@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
a, ul, li{
    text-decoration: none;
    color: #000;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    color: #353231;
}
html{
    font-size: 62.5%;
}

@import "normalize";
@import "container";
@import "fonts";
@import "header";
@import "gallery";
@import "bodyInfo";
@import "location";
@import "footer";
